# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Crypto vibe
email: your-email@example.com
description: > # this means to ignore newlines until "baseurl:"
  Monitor telegram activity on crypto channels
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll
telegram_url: https://t.me/checkico
github_url: https://github.com/cryptovibe/cryptovibe
google_analytics: UA-111757561-1
# hack to invalidate cache on resource change
version: 15

top_banner_ad:
  redirect_address: https://icocheck.io
  text: Brought to you by <b>ICO Check</b>
  # 145x34 image
  image_src:

hero_ad:
  redirect_address: https://icocheck.io
  # 130x130 image
  image_src: https://icocheck.io/assets/logo_ico-check.svg
  text: Background checks and due diligence for ICOs

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
