<footer class="footer">
  <div class="container">

    <div class="columns">
      <div class="column has-text-centered is-size-6">
        <a class="footer-link" href="#" target="_blank">
          <span class="icon">
            <i class="fa fa-telegram"></i>
          </span>
          Join our telegram channel
        </a>
      </div>
      <div class="column has-text-centered is-size-6">
        <a class="footer-link" href="#" target="_blank">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
          See an error? Create an issue on GitHub
        </a>
      </div>
      <div class="column has-text-centered is-size-6">
        <a class="footer-link" href="/privacy-policy">
          Privacy policy
        </a>
      </div>
    </div>

  </div>
</footer>
