<div class="top-banner">
  <div class="top-banner-text">
    Brought to you by <a class="top-banner-link" href="https://icocheck.io" target="_blank">ICO Check</a>
  </div>
</div>
<section class="hero is-small is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a href="/" class="has-text-white">
          <span class="icon is-large">
            <i class="mdi mdi-trending-up mdi-48px"></i>
          </span>
          Crypto vibe
        </a>
      </h1>
      <h2 class="subtitle">
        Monitor telegram activity on crypto channels
      </h2>
    </div>
  </div>
</section>
