---
# Only the main Sass file needs front matter (the dashes are enough)
---

// TODO: remove styles when buefy is customized

$link: hsl(217, 71%, 53%);
$dark-grey: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);

.hero.is-link {
  background-color: $link !important;
}

a {
  color: $link !important;
}

.footer-link {
  color: $dark-grey !important;
}

.footer-link:hover {
  color: $grey !important;
}

.is-top-paddingless {
  padding-top: 0 !important;
}

.button.is-primary {
  background-color: $link !important;
}

.little-top-padded {
  padding-top: 1rem;
}

.top-banner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #052d49;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.top-banner-text {
  font-size: 0.875rem;
  line-height: 1.25;
  margin-right: 1rem;
}

.top-banner-img {
  display: inline-block;
  height: 34px;
  width: 145px;
  flex-shrink: 0;
}

a.top-banner-link {
  color: white !important;
}

#chart {
  min-height: 400px;
}

.hero-ad-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  min-height: 150px;
}

#hero-ad {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 130px;
  padding: 0;
  position: relative;
  box-shadow: 0 4px 5px rgba(50,50,90,.1), 0 1px 3px rgba(0,0,0,.1);
}

#hero-ad:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.12), 0 3px 6px rgba(0,0,0,.1);
}

.hero-ad-img {
  bottom: 0;
  float: left;
  left: 0;
  min-height: 130px;
  padding: 15px 0 15px 15px;
  position: absolute;
  top: 0;
  width: 145px;
}

a.hero-ad-text:hover {
  text-decoration-line: underline;
}

.hero-ad-text {
  display: block;
  color: #363636 !important;
  line-height: 20px;
  padding: 15px 15px 35px 160px;
  font-size: 14px;
}

.hero-ad-sponsored {
  bottom: 10px;
  color: #7a7a7a;
  display: inline;
  font-size: 0.75rem;
  position: absolute;
  right: 10px;
}
