---
# Only the main Sass file needs front matter (the dashes are enough)
---

// TODO: remove styles when buefy is customized

$link: hsl(217, 71%, 53%);
$dark-grey: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);

.hero.is-link {
  background-color: $link !important;
}

a {
  color: $link !important;
}

.footer-link {
  color: $dark-grey !important;
}

.footer-link:hover {
  color: $grey !important;
}

.is-top-paddingless {
  padding-top: 0 !important;
}

.button.is-primary {
  background-color: $link !important;
}

.little-top-padded {
  padding-top: 1rem;
}

.top-banner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #052d49;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.top-banner-text {
  font-size: 0.875rem;
  line-height: 1.25;
  margin-right: 0.5rem;
}

a.top-banner-link {
  color: white !important;
}